.container-fluid {
    height: auto;
    padding: 1px !important;
    width: 450px;
}

.current-temperature {
    background-color: red;
    width: 100%;
    height: auto;
    font-size: 110px;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    font-family: " Neuzeit Grotesk", Serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/rain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.range-temperature {
    width: 100%;
    height: auto;
    font-size: 30px;
    text-align: center;
    font-family: " Neuzeit Grotesk", sans-serif;
    margin: 0px !important;
    border-bottom: 1px dotted gainsboro;
    margin-top: 10px !important;

}

.range-temperature .col-2 {
    border-left: 1px dashed gainsboro;
    padding: 0px !important;
}

.temperature-next-day {
    width: 100%;
    height: auto;
    font-size: 30px;
    text-align: center;
    font-family: " Neuzeit Grotesk", sans-serif;
    margin: 0px !important;
}

.temperature-next-day .col-4 {
    border-left: 1px dashed gainsboro;
    border-bottom: 1px dotted gainsboro;
    padding: 0px !important;
}

.location {
    text-align: center;
    font-family: " Neuzeit Grotesk", sans-serif;
}

.weather-icon img {
    font-size: 50px;
    margin-top: 5px;
}

.big-weather-icon img {
    font-size: 50px;
    margin-top: 5px;
    align-content: center;
}

.time {
    font-size: 19px;
    margin-top: 5px;
}

.big-time {
    font-size: 19px;
    margin-top: 5px;
}

.degree {
    font-size: 19px;
    color: chocolate;
}

.big-degree {
    font-size: 19px;
    color: chocolate;
}

.current-date {
    font-size: 20px;
    text-align: right;
    margin-right: 10px;
    color: floralwhite;
}

.my-chart {
    width: 100% !important;
    height: auto !important;
}

.loading {
    text-align: center;
    margin-top: 30%;
}

.min-temperature {
    color: green;
}